body {
    color: #000;
    background-color: #f1f1f1;
}

/* Other */
#title{
    font-style: italic;
}

hr{
    border: 0;
    background-image: linear-gradient(to right, rgba(172, 115, 57, 0), rgba(172, 115, 57, 0.8), rgba(172, 115, 57, 0));
    height: 2px;
    margin: 20px;
    margin-bottom: 35px;
}

p{
    color: black;
}

.stack{
    font-style: italic;
}

/* Header */
.frame{
    width: 80%;
    height:400px;
    background: linear-gradient(to top, #cc9966, #ac7339);
    font-family: 'Tajawal', sans-serif;
    box-shadow: 1px 2px 10px grey;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 576px) {
    .frame{
        width: 100%;
        background: transparent;
        margin-bottom: 200px;
    }
    h1, h2 {
        font-size: 28px;
        text-align: center;
        margin-top: 10px;
    }
    .icon {
        display: flex;

    }
}


.box{
    width: 1000px;
    height: 300px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-row-gap: 2px;
    margin-top: -50px;
}

.main{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image{
    position: relative;
    margin-top: 1%;
    margin-bottom: 2%;
}

.circle1, .circle2{
    border: 1px solid grey;
    border-radius: 50%;
    box-sizing: border-box;
    transition: all 1.5s;
    position: absolute;
}

.circle1{
    height: 120px;
    width: 120px;
    border-color: grey transparent grey grey;
    left: -6px;
    top: -5px;
}

.circle2{
    height: 110px;
    width:107px;
    border-color:grey grey grey transparent;
    top: -1px;
    left: -3px;
}

.image:hover .circle1, .image:hover .circle2{
    transform: rotate(360deg);
    cursor: pointer;
}

#my-picture{
    height: 110px;
    width: 100px;
    border-radius: 50%;
}

.btn{
    width: 120px;
    height: 37px;
    border-radius: 40px;
    text-align: center;
    font-size: 14px;
}

.btn p{
    position: relative;
    top: -6px;
    font-weight: bold;
}

.social{
    background: #FFFFFF;
    color: #010101;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Button contact*/
.icon{
    width: 60px;
    height: 60px;
    padding: 5px;
}

/* Button contact*/
.contact{
    margin-bottom: 2%;
}


/* mise en page globale*/
.cover-text{
    padding-top: 5%;
    width: 100%;
    text-align: center;
}
.cover-text h1{
    text-transform: uppercase;
    font-family: 'Roboto' , sans-serif;
    font-size: 2rem;
    font-weight: 500;
    vertical-align: middle;
    margin-bottom: 30px;
}
.cover-text p{
    font-family: 'Roboto' , sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 4px;
    margin-top: 16px;
    margin-left: -6px;
}

p {
    font-size: 1rem;
    font-family: 'Roboto' , sans-serif;
    font-weight: 100;
    line-height: 2rem;
    text-align: left;
}

/* Button DL CV*/
.btn-cv {
    text-align: center;
    width: 200px;
    margin: 30px;
}

.btn-outline-cv {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    background: linear-gradient(-45deg, #ee7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 5s ease infinite;
    -moz-animation: Gradient 5s ease infinite;
    animation: Gradient 5s ease infinite;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
    border-radius: 40px;
}
.btn-outline-cv a {
    color: #f1f1f1 !important;
}
.btn-outline-cv:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn-outline-cv a:hover {
    text-decoration: none;
}

@-webkit-keyframes Gradient {
    0% {
        background-position:0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

/* Timeline */
.timeline {
    width: 100%;
    max-width: 800px;
    background: #fff;
    padding: 50px 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0px;
    left: calc(33% + 15px);
    bottom: 0px;
    width: 4px;
    background: #ccc;
}

.timeline:after {
    content: "";
    display: table;
    clear: both;
}

.timeline-entry {
    clear: both;
    text-align: left;
    position: relative;
}

.timeline-entry .timeline-title {
    margin-bottom: .5em;
    float: left;
    width: 33%;
    padding-right: 30px;
    text-align: right;
    position: relative;
}

.timeline-entry .timeline-title:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 5px solid #23252f;
    background-color: #c79b1b;
    border-radius: 100%;
    top: 15%;
    right: -10px;
    z-index: 99;
}

.timeline-entry .timeline-title h3 {
    margin: 0;
    font-size: 120%;
}

.timeline-entry .timeline-title p {
    margin: 0;
    font-size: 100%;
}

.timeline-entry .timeline-body {
    margin: 0 0 3em;
    float: right;
    width: 66%;
    padding-left: 30px;
}

.timeline-entry .timeline-body p {
    line-height: 1.4em;
}

.timeline-entry .timeline-body p:first-child {
    margin-top: 0;
    font-weight: 400;
}

.timeline-entry .timeline-body ul {
    color: #aaa;
    padding-left: 0;
    list-style-type: none;
}

.timeline-entry .timeline-body ul li:before {
    content: "–";
    margin-right: 0.5em;
}

/* SKILLS */
.skills{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
 /* CARDS */
.card {
    width: 300px;
    height: 300px;
    background-color: transparent;
    border: transparent;
    padding: 5px;
    margin: 10px;
    position: relative;
    border-radius: 7px;
    perspective: 2000px;
}
.card:hover .card-front {
    transform: rotateY(180deg);
}
.card:hover .card-back {
    transform: rotateY(360deg);
    box-shadow: 0 0 20px #5B372A;
}
.card-front, .card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 7px;
    backface-visibility: hidden;
    transition: 0.5s;
}
.card-front {
    background-color: #aaaaaa;
    color: black;
}
.card-back {
    background-color: #ac7339;
    color: #FFFFFF;
    transform: rotateY(180deg);
}

/* Icon */
i{
    vertical-align: center;
    font-size: 30px;
    margin: 5px;
}






